#section-config {
  height: 100%;
  padding: 0 1rem;

  & form {
    display: flex;
    width: calc(100% - 2rem);

    #geometry {
      width: calc((100% - 2rem) - 0.5rem);

      & fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
        width: 100%;
        padding: 0;
      }

      .column {
        display: flex;
        flex-direction: column;

        .to {
          margin-top: 1.5rem;
        }

        & input {
          height: 2rem;
          width: 100%;
        }
      }

      .actions {
        display: flex;
        width: 100%;

        .mode {
          display: flex;
          width: 100%;
          margin-top: 1.5rem;
          align-items: center;
        }

        .action {
          width: 20%;
          height: 2rem;
          padding: 0 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          border-radius: 0.25rem;
        }

        #fullscreen {
          background-color: #dadedf;
          margin-top: 1.5rem;
          align-self: flex-end;
        }
      }
    }

    & fieldset {
      display: flex;
      flex-direction: column;
    }

    & label {
      font-weight: 700;
    }

    .ratio {
      width: 100%;
    }

    .config {
      cursor: pointer;
      text-align: left;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .percentage-container {
      width: 100%;
      position: relative;

      & input {
        width: 100%;
        position: relative;
      }

      .percentage {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
      }
    }

    & h6 {
      font-weight: 700;
    }

    & input, select {
      height: 2rem;
      border: 1px solid black;
      border-radius: 0.25rem;
      padding: 0 0.25rem;
    }

    #submit-container {
      display: flex;
      height: 3.5rem;
      align-items: flex-end;
      justify-content: center;
    }

    .submit {
      border: 1px solid black;
      border-radius: 0.25rem;
      height: 2rem;
      width: 100%;
      background-color: #002147;
      color: white;
    }

    #left-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    #config-container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 2.5rem);
    }

    #assets {
      padding-top: 1.25rem;
      width: 33%;
    }
  }
}