.main {
  border-top: 1px solid white;
  width: 100vw;
  height: calc(90vh - 1px);

  & iframe {
    width: 100%;
    height: 100%;
  }

  .launcher {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .project-container {
    z-index: 0;
    height: 100%;
    padding-bottom: 4rem;
    position: relative;

    .projects {
      padding: 2rem;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .heading {
      margin: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      border-bottom: 1px solid grey;
    }

    #mask {
      background: rgba(0, 0, 0, 0.75);
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  #new {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    margin-left: auto;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    z-index: 100;
  }
}