.main {
  padding: 0.75rem;
  max-width: calc(1.5rem + 256px);
  border-radius: 0.5rem;
  border: 1px solid grey;

  & img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
  }

  & h4 {
    color: black;
    margin-top: 1rem;
    font-weight: 700;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;

    & button {
      width: 100%;
    }
  }
}