ROOT_USERNAME=example
ROOT_PASSWORD=plain-text
EXPRESS_USERNAME=example
EXPRESS_PASSWORD=plain-text
MINIO_ROOT_USERNAME=example
MINIO_ROOT_PASSWORD=plain-text
THUMBNAIL=http://localhost:8082/thumbnail.png
ASSET_STORE_END_POINT=
ASSET_STORE_PORT=
ASSET_STORE_USE_SSL=
ASSET_STORE_ACCESS_KEY=
ASSET_STORE_SECRET_KEY=
CONTROLLER_FORMAT_SERVER=
CONTROLLER_FORMAT_RENDERER=
CONTROLLER_FORMAT_SPACE=
CONTROLLER_FORMAT_APP_VIDEOS=
CONTROLLER_FORMAT_APP_IMAGES=
CONTROLLER_FORMAT_APP_SVG=
CONTROLLER_FORMAT_APP_AUDIO=
CONTROLLER_FORMAT_APP_HTML=
CONTROLLER_FORMAT_OBSERVATORY=