.main {
  & h2 {
    text-align: center;
    font-weight: 700;
  }
}

#top {
  height: calc(90vh * 0.6);
  display: flex;
}

#preview {
  height: 100%;
  width: 80vw;
}

#configuration {
  border-top: 1px solid black;
  height: calc(90vh * 0.4);
  display: flex;
}

#mask {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}