.main {
  & h2 {
    text-align: center;
    font-weight: 700;
  }
}

#top {
  height: calc(90vh * 0.6);
  display: flex;
}

#preview {
  height: 100%;
  width: 80vw;
}

#sections {
  width: 20vw;
  height: 100%;
  border-left: 1px solid black;
}

#configuration {
  border-top: 1px solid black;
  height: calc(90vh * 0.4);
}