#upload {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & h2 {
    text-align: center;
    font-weight: 700;
  }

  & ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    & li {
      width: 100%;
      border: 1px solid black;
      border-radius: 1.25rem;
      padding: 0.25rem 0.5rem;
      margin-top: 0.5rem;
      display: flex;

      & span {
        margin-left: auto;
      }
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 1.25rem;
    padding: 0.5rem;

    & label {
      font-weight: 700;
    }

    .file {
      display: flex;

      & button {
        background-color: #002147;
        color: white;
        border-radius: 50%;
        padding: 0.5rem;
      }
    }
  }
}