.hud {
  width: 100%;
  background-color: #002147;

  li {
    display: flex;
    width: 100%;

    span:not(:nth-child(2)) {
      padding-left: 0.5rem;
    }
    span:nth-child(2) {
      margin-left: auto;
      padding-right: 0.5rem;
    }
  }
}

.popover {
  width: 20vw;
  z-index: 2;
  position: relative;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.screen {
  border: 1px solid white;
  background-color: #002147;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}