.hud {
  width: 100%;
  background-color: #002147;

  li {
    display: flex;
    width: 100%;

    span:nth-child(1) {
      width: 20%;
    }

    span:nth-child(2) {
      width: 10%;
    }

    span:nth-child(3) {
      width: 70%;
    }
  }
}

.popover {
  width: 20vw;
  z-index: 2;
  position: relative;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.screen {
  border: 1px solid white;
  background-color: #002147;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}