#metadata {
  width: 100%;
  height: 100%;

  & h2 {
    text-align: center;
    font-weight: 700;
  }

  & form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: calc(100% - 1.5rem);
    margin: 0 10%;
    overflow-y: scroll;

    & label {
      font-weight: 700;
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    & input {
      border: 1px solid black;
      border-radius: 1.25rem;
      padding: 0.25rem;
      min-height: 1.5rem;
    }

    & textarea {
      border: 1px solid black;
      border-radius: 1.25rem;
      padding: 0.25rem;
      min-height: 3rem;
    }

    .submit {
      margin-top: auto;
    }

    & button {
      width: 100%;
      margin-top: 0.5rem;
      background-color: #002147;
      color: white;
      border-radius: 1.25rem;
      padding: 0.25rem;
    }

    .publications {
      width: 100%;

      .selected {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        & li {
          list-style: disc outside;
          width: 100%;
          margin-left: 1rem;

          & div {
            width: calc(100% - 1rem);
            display: flex;
            align-items: center;
          }

          & button {
            all: initial;
            cursor: pointer;
            margin-left: auto;
            border: 1px solid black;
            border-radius: 50%;
          }
        }
      }

      .new {
        width: 100%;
        display: list-item;
        list-style: circle;

        & input {
          width: 100%;
        }
      }
    }

    .tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .selected {
        margin-top: 0.5rem;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        margin-bottom: 0.5rem;

        & li {
          padding: 0.25rem;
          margin: 0 0.25rem;
          border-radius: 1.25rem;
          color: white;
          display: flex;
          align-items: center;

          & button {
            all: initial;
            cursor: pointer;
            color: white;
          }
        }
      }

      .new {
        width: 100%;

        & input {
          width: 100%;
        }
      }
    }

    .thumbnail {
      display: flex;
      flex-direction: row;
      width: 100%;

      #s3-select {
        width: 100%;
      }

      & button {
        all: initial;
        cursor: pointer;
        width: fit-content;
        color: white;
        background-color: #002147;
        padding: 0.5rem;
        margin: 0.25rem 0 0.25rem 0.25rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    .collaborators {
      width: 100%;

      & h6 {
        font-weight: 700;
      }

      .section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;

        & li {
          background-color: #002147;
          padding: 0.25rem 0.5rem;
          border-radius: 1.25rem;
          color: white;
          margin: 0 0.25rem;
          display: flex;
          align-items: center;
        }

        & button {
          all: initial;
          cursor: pointer;
          color: white;
        }
      }

      .new {
        width: 100%;

        & input {
          width: 100%;
        }
      }
    }

    & label {
      margin-top: unset;
    }
  }
}