.section {
  width: 40vw;
  margin: 2rem 0 0;

  h2 {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
}

.key-container {
  display: flex;

  * {
    margin: auto;
  }
}