.container {
  overflow-x: scroll;
  border-bottom: 1px solid #dadedf;
  height: 2rem;
}

.tabs {
  align-items: flex-start;
  display: flex;
  overflow-x: scroll;
  padding: 0.25rem;
  gap: 0.25rem;
}

#default {
  min-width: calc(1ch + 2rem);
  max-width: calc(1ch + 2rem);

  & button {
    width: 100%;
  }
}

.tab {
  flex-grow: 1;
  flex-basis: 0;
  background-color: #dadedf;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;

  .editable {
    position: relative;
  }

  .title {
    white-space: nowrap;
    margin-right: 1.5rem;
  }

  .hidden {
    display: none;
  }

  .remove {
    position: absolute;
    right: 0.25rem;
    top: calc(50% - 0.55rem);
    height: 1.1rem;
    width: fit-content;
  }

  & input {
    width: 100%;
  }
}

#add {
  flex: initial;
  min-width: unset;

  & button {
    padding: 0 0.5rem;
  }
}