.container {
  overflow-x: scroll;
  border-bottom: 1px solid black;
  height: 1.5rem;
}

.tabs {
  align-items: flex-start;
  display: flex;
}

.tab {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 10%;
  min-width: 5%;
  border-right: 1px solid black;
  background-color: #dadedf;
  border-radius: 0.125rem;
  text-align: center;

  & button {
    width: 100%;
  }

  & input {
    width: 100%;
  }
}

.selected {
  min-width: 10%;
}

#add {
  flex: initial;
  min-width: unset;

  & button {
    padding: 0 0.5rem;
  }
}