VITE_CORE_URL="http://localhost:3333"
VITE_BASE_URL="http://localhost:4202"
VITE_MODE="production"
VITE_PAGE_SIZE=20
VITE_API_CALL_OFFSET=100
VITE_LIVE_UPDATE_REFRESH_INTERVAL=60000
VITE_LOG_LEVEL=2
VITE_DISABLE_AUTH=false
VITE_DISABLE_LIVE_PREVIEW=false
VITE_LOGGING_SERVER="http://127.0.0.1:3333/ingest"
VITE_LOGGING_SERVER_API=http://127.0.0.1:3333/logs/api
VITE_LOGGING_SERVER_INGESTION=http://127.0.0.1:3333/logs/ingest
VITE_LOGGING_SERVER_SOCKET_ENDPOINT=ws://127.0.0.1:3333/logs/socket