DATABASE_URL="mongodb://username:password@url:27017/CollectionName?authSource=admin&replicaSet=ReplicaSetName"
PRISMA_QUERY_ENGINE_BINARY="/…/next-ove/node_modules/.prisma/client/libquery_engine_darwin-arm64.dylib.node"
