@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/261.woff2") format("woff2"), url("/fonts/262.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/263.woff2") format("woff2"), url("/fonts/264.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/265.woff2") format("woff2"), url("/fonts/266.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/269.woff2") format("woff2"), url("/fonts/270.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/271.woff2") format("woff2"), url("/fonts/272.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/274.woff2") format("woff2"), url("/fonts/275.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/276.woff2") format("woff2"), url("/fonts/277.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/278.woff2") format("woff2"), url("/fonts/279.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/280.woff2") format("woff2"), url("/fonts/281.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/282.woff2") format("woff2"), url("/fonts/283.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/284.woff2") format("woff2"), url("/fonts/285.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2538.woff2") format("woff2"), url("/fonts/2539.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2540.woff2") format("woff2"), url("/fonts/2541.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2542.woff2") format("woff2"), url("/fonts/2543.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2544.woff2") format("woff2"), url("/fonts/2545.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2546.woff2") format("woff2"), url("/fonts/2547.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2548.woff2") format("woff2"), url("/fonts/2549.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/2550.woff2") format("woff2"), url("/fonts/2551.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Bold";
  src: url("/fonts/2559.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extrabold";
  src: url("/fonts/2560.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extralight";
  src: url("/fonts/2561.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Light";
  src: url("/fonts/2562.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Medium";
  src: url("/fonts/2563.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Regular";
  src: url("/fonts/2564.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Semibold";
  src: url("/fonts/2565.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/23872.woff2") format("woff2"), url("/fonts/23873.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/23874.woff2") format("woff2"), url("/fonts/23875.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/23876.woff2") format("woff2"), url("/fonts/23877.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/23878.woff2") format("woff2"), url("/fonts/23879.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/23880.woff2") format("woff2"), url("/fonts/23881.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23882.woff2") format("woff2"), url("/fonts/23883.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23884.woff2") format("woff2"), url("/fonts/23885.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23886.woff2") format("woff2"), url("/fonts/23887.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23888.woff2") format("woff2"), url("/fonts/23889.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23890.woff2") format("woff2"), url("/fonts/23891.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23892.woff2") format("woff2"), url("/fonts/23893.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/23894.woff2") format("woff2"), url("/fonts/23895.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23897.woff2") format("woff2"), url("/fonts/23898.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23899.woff2") format("woff2"), url("/fonts/23900.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23901.woff2") format("woff2"), url("/fonts/23902.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23903.woff2") format("woff2"), url("/fonts/23904.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23905.woff2") format("woff2"), url("/fonts/23906.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/23907.woff2") format("woff2"), url("/fonts/23908.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Bold";
  src: url("/fonts/23909.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extrabold";
  src: url("/fonts/23910.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extralight";
  src: url("/fonts/23911.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Light";
  src: url("/fonts/23912.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Medium";
  src: url("/fonts/23913.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Regular";
  src: url("/fonts/23914.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Semibold";
  src: url("/fonts/23915.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/30267.woff2") format("woff2"), url("/fonts/30268.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/30269.woff2") format("woff2"), url("/fonts/30270.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/30271.woff2") format("woff2"), url("/fonts/30272.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/30273.woff2") format("woff2"), url("/fonts/30274.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/30275.woff2") format("woff2"), url("/fonts/30276.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30277.woff2") format("woff2"), url("/fonts/30278.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30279.woff2") format("woff2"), url("/fonts/30280.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30281.woff2") format("woff2"), url("/fonts/30282.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30283.woff2") format("woff2"), url("/fonts/30284.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30285.woff2") format("woff2"), url("/fonts/30286.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30287.woff2") format("woff2"), url("/fonts/30288.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/30289.woff2") format("woff2"), url("/fonts/30290.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30292.woff2") format("woff2"), url("/fonts/30293.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30294.woff2") format("woff2"), url("/fonts/30295.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30296.woff2") format("woff2"), url("/fonts/30297.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30298.woff2") format("woff2"), url("/fonts/30299.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30300.woff2") format("woff2"), url("/fonts/30301.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/30302.woff2") format("woff2"), url("/fonts/30303.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Bold";
  src: url("/fonts/30304.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extrabold";
  src: url("/fonts/30305.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extralight";
  src: url("/fonts/30306.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Light";
  src: url("/fonts/30307.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Medium";
  src: url("/fonts/30308.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Regular";
  src: url("/fonts/30309.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Semibold";
  src: url("/fonts/30310.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/42172.woff2") format("woff2"), url("/fonts/42173.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/42175.woff2") format("woff2"), url("/fonts/42176.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/42178.woff2") format("woff2"), url("/fonts/42179.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/42181.woff2") format("woff2"), url("/fonts/42182.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/42184.woff2") format("woff2"), url("/fonts/42185.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42187.woff2") format("woff2"), url("/fonts/42189.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42190.woff2") format("woff2"), url("/fonts/42191.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42193.woff2") format("woff2"), url("/fonts/42194.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42196.woff2") format("woff2"), url("/fonts/42197.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42199.woff2") format("woff2"), url("/fonts/42200.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42202.woff2") format("woff2"), url("/fonts/42203.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/42205.woff2") format("woff2"), url("/fonts/42206.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42212.woff2") format("woff2"), url("/fonts/42213.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42214.woff2") format("woff2"), url("/fonts/42216.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42217.woff2") format("woff2"), url("/fonts/42218.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42220.woff2") format("woff2"), url("/fonts/42221.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42223.woff2") format("woff2"), url("/fonts/42224.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/42225.woff2") format("woff2"), url("/fonts/42226.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Bold";
  src: url("/fonts/42228.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extrabold";
  src: url("/fonts/42230.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extralight";
  src: url("/fonts/42231.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Light";
  src: url("/fonts/42232.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Medium";
  src: url("/fonts/42234.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Regular";
  src: url("/fonts/42235.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Semibold";
  src: url("/fonts/42236.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/47168.woff2") format("woff2"), url("/fonts/47169.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/47170.woff2") format("woff2"), url("/fonts/47171.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/47172.woff2") format("woff2"), url("/fonts/47173.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/47174.woff2") format("woff2"), url("/fonts/47175.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Sans Display";
  src: url("/fonts/47176.woff2") format("woff2"), url("/fonts/47177.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47178.woff2") format("woff2"), url("/fonts/47179.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47180.woff2") format("woff2"), url("/fonts/47181.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47182.woff2") format("woff2"), url("/fonts/47183.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47184.woff2") format("woff2"), url("/fonts/47185.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47186.woff2") format("woff2"), url("/fonts/47187.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Imperial Slab Display";
  src: url("/fonts/47188.woff2") format("woff2"), url("/fonts/47189.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47191.woff2") format("woff2"), url("/fonts/47192.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47193.woff2") format("woff2"), url("/fonts/47194.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47195.woff2") format("woff2"), url("/fonts/47196.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47197.woff2") format("woff2"), url("/fonts/47198.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47199.woff2") format("woff2"), url("/fonts/47200.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47201.woff2") format("woff2"), url("/fonts/47202.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSansText";
  src: url("/fonts/47203.woff2") format("woff2"), url("/fonts/47204.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Bold";
  src: url("/fonts/47205.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extrabold";
  src: url("/fonts/47206.woff2") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Extralight";
  src: url("/fonts/47207.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Light";
  src: url("/fonts/47208.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Medium";
  src: url("/fonts/47209.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Regular";
  src: url("/fonts/47210.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "ImperialSlabText-Semibold";
  src: url("/fonts/47211.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
}