.protocol-icon {
  margin: 0.6rem 0;
}

.observatory {
  margin: 2rem 2rem 0;

  .table-container {
    width: calc(100vw - 4rem);
  }
}

.header {
  display: flex;
  flex-direction: row;

  & h2 {
    font-weight: 700;
  }

  .actions {
    margin: 0 0 0 auto;

    .icon {
      padding: 0.6rem;
    }
  }
}

.toolbar {
  border: 1px solid #dadedf;
  border-bottom: none !important;
  display: flex;
  align-items: center;
  padding: 0.25rem;

  .filter-type-container {
    margin-left: 0.25rem;

    & button {
      border: 1px solid black;
      min-width: 2.5rem;
    }

    .active {
      background-color: #002147;
      color: white;
    }
  }
}

.selector {
  position: relative;
  margin-left: 0.25rem;

  .input {
    border: 1px solid black;
    padding: 0.25rem;
  }

  .hidden {
    width: 0;
    height: 0;
  }

  .dropdown {
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    & ul {
      width: 100%;
      border: 1px solid black;
      border-bottom: none !important;

      & li {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 0.25rem;

        & button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.selector:focus-within > .dropdown {
  display: block;
}